################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DisplacementMapGenerator/bin
/DisplacementMapGenerator/.vs
/DisplacementMapGenerator/obj
